<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minis.retryhelper">
    <application>
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Auto click retry when rate limited in Minis" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>
